<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>CEP Wprowadx Pojazd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/rejestracja.js"></script>
</head>
<body ng-controller="rejestracjaController as rejestracjaControl">

<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="pojazd.html">Wprowadz dane o pojeździe</a>
                <a class="nav-item nav-link" href="rejestracja.html">Wprowadz dane o rejestracji</a>
                <a class="nav-item nav-link disabled" href="wlasciciel.html">Wprowadz dane o wlascicielu</a>
            </div>
        </div>
    </nav>

    <h2><p>CENTRALNA EWIDENCJA POJAZDÓW</p>
        <small> WPROWADŹ INFORMACJE REJESTRACYJNE</small>
    </h2>
    <div class=" col-sm-12 col-md-10 col-sm-offset-2 col-md-offset-3">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                    <label for="validationServer01">Numer Rejestracyjny</label>
                    <input type="text" class="form-control is-valid" id="Numer Rejestracyjny"
                           placeholder="Numer Rejestracyjny"
                           ng-model="rejestracjaControl.rejestracja.numerRejestracyjny" required>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="Data">Numer swiadectwa homologacji</label>
                    <input type="text" class="form-control is-valid" id="Numer swiadectwa homologacji"
                           placeholder="Numer świadectwa homologacji"
                           ng-model="rejestracjaControl.rejestracja.numerSwiadectwaHomologacji">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-3">
                    <label for="Data">Seria Dowodu</label>
                    <input type="text" class="form-control is-invalid" id="Seria Dowodu" placeholder="Seria Dowodu"
                           required ng-model="rejestracjaControl.rejestracja.seriaDowodu">
                    <div class="invalid-feedback">
                        Proszę wpisać serię dowodu.
                    </div>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label for="Data">Numer Dowodu</label>
                    <input type="text" class="form-control is-invalid" id="Numer Dowodu" placeholder="Numer Dowodu"
                           ng-model="rejestracjaControl.rejestracja.numerDowodu" required>
                    <div class="invalid-feedback">
                        Proszę wpisać numer dowodu.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="Data">Data Pierwszej Rejestracji</label>
                <input type="text" class="form-control is-invalid" id="dataPierwszejRejestracji"
                       ng-model="rejestracjaControl.rejestracja.dataPierwszejRejestracji"
                       placeholder="Data pierwszej rejestracji"
                       required>
            </div>
            <div class="form-row">
                <label for="Data">Termin badania technicznego</label>
                <input type="text" class="form-control is-invalid" id="terminBadaniaTechnicznego"
                       placeholder="Termin badania technicznego"
                       ng-model="rejestracjaControl.rejestracja.terminBadaniaTechnicznego"
                       required>
            </div>
            <div class="form-row">
                <label for="Data">Data wydania dowodu</label>
                <input type="text" class="form-control is-invalid" id="dataWydaniaDowodu"
                       placeholder="Data wydania dowodu"
                       ng-model="rejestracjaControl.rejestracja.dataWydaniaDowodu"
                       required>
            </div>
            <div class="form-row">
                <label for="Data">Waznosc dokumentu</label>
                <input type="text" class="form-control is-invalid" id="waznoscDokumentu"
                       placeholder="Waznosc dokumentu"
                       ng-model="rejestracjaControl.rejestracja.waznoscDokumentu"
                       required>
            </div>

            <br>

            <div class="form-group">
                <input type="text" name="przebiegprzyostatnimbadaniu" id="przebiegprzyostatnimbadaniu"
                       class="form-control input-lg" placeholder="Przebieg Przy Ostatnim Badaniu (km)" tabindex="4"
                       ng-model="rejestracjaControl.rejestracja.przebiegPrzyOstatnimBadaniu">
            </div>

            <div class="form-group">
                <input type="text" name="organrejestrujacy" id="organrejestrujacy" class="form-control input-lg"
                       placeholder="Organ rejestrujący" tabindex="4"
                       ng-model="rejestracjaControl.rejestracja.organRejestrujacy">
            </div>

            <div class="form-group">
                <input type="text" name="uwagi" id="uwagi" class="form-control input-lg"
                       placeholder="Uwagi (zmiana statusu dokumnetu, zatrzymanie dokumentu)" tabindex="4"
                       ng-model="rejestracjaControl.rejestracja.uwagi">
            </div>


            <button class="btn btn-primary col-xs-12 col-md-10" type="submit" ng-click="rejestracjaControl.addRejestracja(rejestracja)">Zarejestruj</button>
        </form>
    </div>
</div>

</div>

</body>
</html>