<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>CEP Wprowadx Pojazd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/wlasciciel.js"></script>
</head>
<body ng-controller="wlascicielController as wlascicielControl">

<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="pojazd.html">Wprowadz dane o pojeździe</a>
                <a class="nav-item nav-link" href="rejestracja.html">Wprowadz dane o rejestracji</a>
                <a class="nav-item nav-link disabled" href="wlasciciel.html">Wprowadz dane o wlascicielu</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class=" col-sm-12 col-md-10 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <h2><p>CENTRALNA EWIDENCJA POJAZDÓW</p>
                    <small> WPROWADŹ WŁAŚCICIELA DLA POJAZDU</small>
                </h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="imie" id="imie" ng-model="wlascicielControl.wlasciciel.imie" class="form-control input-lg" placeholder="Imię"
                                   tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="form-group">
                            <input type="text" name="nazwisko" id="nazwisko"  ng-model="wlascicielControl.wlasciciel.nazwisko" class="form-control input-lg"
                                   placeholder="Nazwisko" tabindex="2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" name="firma" id="firma" class="form-control input-lg"
                           placeholder="Firma (opcjonalnie)"  ng-model="wlascicielControl.wlasciciel.firma" tabindex="4">
                </div>

                <div class="form-group">
                    <input type="text" name="pesel" id="pesel" class="form-control input-lg" placeholder="PESEL"
                           tabindex="1"  ng-model="wlascicielControl.wlasciciel.PESEL">
                </div>

                <!--<div class="form-group">-->
                <!--<label class="col-xs-12 col-sm-6 col-md-6 control-label" for="textinput">Adres</label>-->
                <!--<select name="wojewodztwo" class="form-control input-lg" id="wojewodztwo">-->
                <!--<option value="&#45;&#45;/&#45;&#45;">&#45;&#45;/&#45;&#45;</option>-->
                <!--<option value="dolnośląskie">dolnośląskie</option>-->
                <!--<option value="kujawsko-pomorskie">kujawsko-pomorskie</option>-->
                <!--<option value="lubelskie">lubelskie</option>-->
                <!--<option value="lubuskie">lubuskie</option>-->
                <!--<option value="łódzkie">łódzkie</option>-->
                <!--<option value="małopolskie">małopolskie</option>-->
                <!--<option value="mazowieckie">mazowieckie</option>-->
                <!--<option value="opolskie">opolskie</option>-->
                <!--<option value="podkarpackie">podkarpackie</option>-->
                <!--<option value="podlaskie">podlaskie</option>-->
                <!--<option value="pomorskie">pomorskie</option>-->
                <!--<option value="śląskie">śląskie</option>-->
                <!--<option value="świętokrzyskie">świętokrzyskie</option>-->
                <!--<option value="warmińsko-mazurskie">warmińsko-mazurskie</option>-->
                <!--<option value="wielkopolskie">wielkopolskie</option>-->
                <!--<option value="zachodniopomorskie">zachodniopomorskie</option>-->
                <!--</select>-->
                <!--</div>-->

                <!--<div class="form row">-->
                <!--<div class="col-sm-12 col-md-6 col-sm-offset-2 col-md-offset-3">-->
                <!--<label for="miasto">Miasto</label>-->
                <!--<input type="text" placeholder="Miasto" id="miasto" class="form-control">-->
                <!--</div>-->
                <!--<div class="col-sm-12 col-md-6 col-sm-offset-2 col-md-offset-3">-->
                <!--<label for="ulica">Ulica</label>-->
                <!--<input type="text" placeholder="Ulica" id="ulica" class="form-control">-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="form row">-->
                <!--<div class="col-sm-12 col-md-4 col-sm-offset-2 col-md-offset-3">-->
                <!--<label for="nrdomu">Nr Domu</label>-->
                <!--<input type="text" placeholder="Nr Domu" id="nrDomu" class="form-control">-->
                <!--</div>-->
                <!--<div class="col-sm-12 col-md-4 col-sm-offset-2 col-md-offset-3">-->
                <!--<label for="kodpocztowy">Kod Pocztowy</label>-->
                <!--<input type="text" placeholder="Kod Pocztowy" id="kodPocztowy" class="form-control">-->
                <!--</div>-->
                <!--</div>-->

                <div class="form row">
                    <div class="col-sm-12 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <label for="ulica">Adres zamieszkania</label>
                        <input type="text" placeholder="Adres zamieszkania" id="adres"  ng-model="wlascicielControl.wlasciciel.adresZamieszkania" class="form-control">
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-12"><input type="submit" value="Zarejestruj"
                                                            łclass="btn btn-success btn-block btn-lg" tabindex="7" ng-click="wlascicielControl.addWlasciciel(wlascicielControl.wlasciciel)">
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>

</div>

</body>
</html>